/* Improved smoothness for breathing effect */

@keyframes breathingBackground {
    0% {
      background: linear-gradient(to top, #0a3d62, white);
    }
    25% {
      background: linear-gradient(to top, #083355, #e0f7fa);
    }
    50% {
      background: linear-gradient(to top, #0a3d62, white);
    }
    75% {
      background: linear-gradient(to top, #083355, #e0f7fa);
    }
    100% {
      background: linear-gradient(to top, #0a3d62, white);
    }
  }
  
  @keyframes breathingGlow {
    0% {
      filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.5));
    }
    25% {
      filter: drop-shadow(0 0 30px rgba(255, 255, 255, 0.8));
    }
    50% {
      filter: drop-shadow(0 0 40px rgba(255, 255, 255, 1));
    }
    75% {
      filter: drop-shadow(0 0 30px rgba(255, 255, 255, 0.8));
    }
    100% {
      filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.5));
    }
  }
  